@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');


body{
    background-color: hsl(212, 45%, 89%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.card__container{
    margin-left: 730px;
    margin-top: 100px;
    display: flex;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
}

.card__container > img {
    width: 370px;
    height: 370px;
    border-radius: 20px;
    margin: 15px 15px 0px 15px;
    transition: 2s ease;
}

.card__text{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 15px;
}
.card__text > h2{
    margin: 0px 20px 0px 20px;
    padding: 10px 15px 10px 15px;

}
.card__text > p{
    color: hsl(218, 44%, 22%);
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
