@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');


body{
    background-color: hsl(212, 45%, 89%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.card__container{
    margin-left: 40vw;
    margin-top: 10vh;
    display: flex;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
}
@media only screen and (min-width: 2560px){
    .card__container{
        margin-left: 45vw;
    }
}
@media only screen and (max-width: 375px) {
    .card__container{
        margin-left: 4vw;
        margin-top: 10vh;
        display: flex;
        width: 350px;
        height: 500px;
        border-radius: 20px;
        background-color: hsl(0, 0%, 100%);
        flex-direction: column;
    }
    #QRCode{
        width: 300px;
        height: 300px;
        position: relative;
        left: 10px;
    }

}

.img__container > img {
    width: 370px;
    height: 370px;
    border-radius: 20px;
    margin: 15px 15px 0px 15px;
    transition: .5s ease;
}

.img__container > img:hover{
    filter:blur(4px)
}
.card__text{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 15px;
}
.card__text > h2{
    margin: 35px 20px 0px 20px;
    padding: 10px 15px 10px 15px;
}
@media only screen and (max-width: 375px){
    .card__text > h2{
        margin: 25px 10px 0px 10px;
        padding: 10px 15px 10px 15px;
    }
}
.card__text > p{
    color: hsl(218, 44%, 22%);
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.img__container{
    position: relative;
    margin-bottom: -35px;
}

.extend__container{
    position: absolute;
    text-align: center;
    top: 15px;
    left: 15px;
    height: 370px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extend__container > span{
    font-family: 'Outfit', sans-serif;
    visibility: hidden;
    font-size: 30px;
}

#popup{
    position: absolute;
    display: none;
    width: 500px;
    height: 500px;
    top: 400px;
    left: 36vw;
    justify-content: space-between;
    border-radius: 10px;
}
@media only screen and (max-width: 375px){
    #popup{
        width: 350px;
        height: 350px;
        left: 1vw;
    }
}
.closeBtn__container{
    z-index: 1;
}
#popup > .material-symbols-outlined{
    position: relative;
    top: 100px;
}
#popup > img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 25px solid white;
}


@keyframes popupOpenAnimation{
    100%{
        top: 200px;
    }
}
